- name: Paso 2 - Configurar VLAN en switch
  hosts: all
  gather_facts: no
  tasks:
    - name: Configurar VLAN con Netmiko
      delegate_to: localhost
      ansible.builtin.command:
        argv:
          - python3
          - config_vlan.py
          - "{{ inventory_hostname }}"
          - "{{ ansible_user }}"
          - "{{ ansible_ssh_pass }}"
          - "{{ ansible_port }}"
          - "1300"
          - "Red_Gestion"
