---
- name: Paso 2 - Configurar VLAN en switch
  hosts: all
  gather_facts: no

  vars:
    vlan_id: "1300"
    vlan_name: "Red_Gestion"

  tasks:
    - name: Configurar VLAN con pexpect
      delegate_to: localhost
      command: >
        python3 config_vlan.py
        {{ ansible_host }}
        {{ ansible_user }}
        {{ ansible_ssh_pass }}
        {{ ansible_port | default('11110') }}
        {{ vlan_id }}
        {{ vlan_name }}
